## Importing the libraries

In [195]:
from unittest.mock import inplace

import numpy as np
import pandas as pd

## Looking at the dataset

In [196]:
data = pd.read_csv(r'SQL - Retail Sales Analysis_utf .csv')

In [197]:
data.head()

,transactions_id,sale_date,sale_time,customer_id,gender,age,category,quantity,price_per_unit,cogs,total_sale,year,month,sale_hour,gains
0,180,2022-11-05,10:47:00,117,Male,41,Clothing,3.0,300.0,129.0,900.0,2022,11,10,Profit
1,522,2022-07-09,11:00:00,52,Male,46,Beauty,3.0,500.0,145.0,1500.0,2022,7,11,Profit
2,559,2022-12-12,10:48:00,5,Female,40,Clothing,4.0,300.0,84.0,1200.0,2022,12,10,Profit
3,1180,2022-01-06,08:53:00,85,Male,41,Clothing,3.0,300.0,129.0,900.0,2022,1,8,Profit
4,1522,2022-11-14,08:35:00,48,Male,46,Beauty,3.0,500.0,235.0,1500.0,2022,11,8,Profit

## Extracting basic information from the data

In [198]:
data.isnull().sum()

transactions_id    0
sale_date          0
sale_time          0
customer_id        0
gender             0
age                0
category           0
quantity           0
price_per_unit     0
cogs               0
total_sale         0
year               0
month              0
sale_hour          0
gains              0
dtype: int64

In [199]:
data.size

30000

In [200]:
data.shape

(2000, 15)

In [201]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   transactions_id  2000 non-null   int64
 1   sale_date        2000 non-null   object
 2   sale_time        2000 non-null   object
 3   customer_id      2000 non-null   int64
 4   gender           2000 non-null   object
 5   age              2000 non-null   int64
 6   category         2000 non-null   object
 7   quantity         2000 non-null   float64
 8   price_per_unit   2000 non-null   float64
 9   cogs             2000 non-null   float64
 10  total_sale       2000 non-null   float64
 11  year             2000 non-null   int64
 12  month            2000 non-null   int64
 13  sale_hour        2000 non-null   int64
 14  gains            2000 non-null   object
dtypes: float64(4), int64(6), object(5)
memory usage: 234.5+ KB

In [202]:
data.describe(include='all')

,transactions_id,sale_date,sale_time,customer_id,gender,age,category,quantity,price_per_unit,cogs,total_sale,year,month,sale_hour,gains
count,2000.000000,2000,2000,2000.000000,2000,2000.000000,2000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000
unique,NaN,647,766,NaN,2,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,2022-12-01,21:47:00,NaN,Female,NaN,Clothing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Profit
freq,NaN,12,9,NaN,1020,NaN,702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1926
mean,1000.500000,NaN,NaN,66.341500,NaN,41.346500,NaN,2.513500,179.92250,94.922600,456.085000,2022.510500,7.957500,15.966000,NaN
std,577.494589,NaN,NaN,44.937185,NaN,13.634016,NaN,1.132015,189.60975,121.835234,559.806721,0.500015,3.421191,5.148407,NaN
min,1.000000,NaN,NaN,1.000000,NaN,18.000000,NaN,1.000000,25.00000,6.250000,25.000000,2022.000000,1.000000,6.000000,NaN
25%,500.750000,NaN,NaN,24.000000,NaN,29.000000,NaN,1.000000,30.00000,13.000000,60.000000,2022.000000,5.000000,11.000000,NaN
50%,1000.500000,NaN,NaN,69.000000,NaN,42.000000,NaN,3.000000,50.00000,27.500000,150.000000,2023.000000,9.000000,18.000000,NaN
75%,1500.250000,NaN,NaN,102.000000,NaN,53.000000,NaN,4.000000,300.00000,147.000000,900.000000,2023.000000,11.000000,20.000000,NaN
max,2000.000000,NaN,NaN,155.000000,NaN,64.000000,NaN,4.000000,500.00000,620.000000,2000.000000,2023.000000,12.000000,23.000000,NaN

## Drop duplicate data

In [203]:
data.drop_duplicates(inplace=True)

In [204]:
data.shape

(2000, 15)

## Working with 'sale_time' column

In [205]:
data['sale_time'] = pd.to_datetime(data['sale_time'], errors='coerce').dt.time
data['sale_hour'] = pd.to_datetime(data['sale_time'].astype(str)).dt.hour

C:\Users\USER\AppData\Local\Temp\ipykernel_2752\3272482756.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['sale_time'] = pd.to_datetime(data['sale_time'], errors='coerce').dt.time
C:\Users\USER\AppData\Local\Temp\ipykernel_2752\3272482756.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['sale_hour'] = pd.to_datetime(data['sale_time'].astype(str)).dt.hour

## Working with 'sale_date' column

In [206]:
data['sale_date'] = pd.to_datetime(data['sale_date'])

In [207]:
data['year'] = data['sale_date'].dt.year

In [208]:
data['month'] = data['sale_date'].dt.month

## Working with 'age' column

In [209]:
data['age'] = data['age'].fillna(data['age'].median())

In [210]:
data['age'] = data['age'].astype(np.int64)

## Working with 'quantity' column

In [211]:
data.rename(columns={
    'quantiy':'quantity'
}, inplace=True)

In [212]:
data['quantity'] = data['quantity'].fillna(data['quantity'].median())

## Working with 'price_per_unit' column

In [213]:
data['price_per_unit'] = data['price_per_unit'].fillna(data['price_per_unit'].median())

## Working with 'cogs' column

In [214]:
data['cogs'] = data['cogs'].fillna(data['cogs'].median())

## Working with 'total_sale' column

In [215]:
data['total_sale'] = data['total_sale'].fillna(data['total_sale'].median())

## Adding profit and loss column

In [216]:
def proloss(row):
    if (row['price_per_unit'] * row['quantity']) > row['cogs']:
        return 'Profit'
    else:
        return 'Loss'

data['gains'] = data.apply(proloss, axis=1)

## Saving the data

In [217]:
data.to_csv(r'SQL - Retail Sales Analysis_utf .csv', index=False)